.DS_Store
# Logslogs
*.log
demo/
.vscode/
.idea/
*.sublime-workspace
.claude
.env
livekit_sip_docs/
livekit agents main livekit-plugins-livekit-plugins-google/
livekit agents main livekit-plugins-livekit-plugins-elevenlabs